* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  margin-left: 20px;
  margin-right: 20px;
}
header {
  width: 100%;
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 250px;
  height: 60px;
}
header #search {
  margin-left: 8%;
  width: 40%;
  height: 60%;
  background-color: rgba(225, 225, 225, 0.518);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  padding: 0px 15px;
}
header #search #Categories_drop,
#sfeild,
i {
  height: 60%;
  background-color: transparent;
  border: none;
  font-size: medium;
  color: rgb(96, 96, 96);
}
#Categories_drop {
  width: 25%;
  text-align: center;
  padding: 0px 10px;
}
#Categories_drop:focus {
  outline: 4px solid rgba(122, 191, 228, 0.63);
  border-radius: 10px;
}

#sfeild {
  width: 60%;
  padding: 0px 10px;
}
#sfeild:focus {
  outline: 4px solid rgba(122, 191, 228, 0.63);
  border-radius: 10px;
  padding: 0px 10px;
}
header #search i {
  padding-top: 7px;
  width: 5%;
  font-size: x-large;
  color: rgb(126, 126, 126);
}
#head_support {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4px;
}
#head_support p {
  font-size: large;
  color: rgb(96, 96, 96);
}
#head_icon {
  width: 8%;
  display: flex;
  gap: 10px;
  align-items: center;
}
#head_icon .circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(216, 210, 210, 0.515);
  color: rgb(126, 126, 126);
}
.circle i {
  font-size: 20px;
}
nav {
  width: 100%;
  height: 20vh;
  display: flex;
  gap: 20px;
  align-items: center;
  border-top: 1.5px solid rgba(173, 173, 173, 0.263);
  font-size: 18px;
  color: rgb(96, 96, 96);
}
nav .drdbox {
  width: 20%;
  height: 40%;
  position: relative;
}
.drdbox button {
  width: 100%;
  height: 100%;
  font-size: medium;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  border: none;
}
.drdbox .dropdown {
  position: absolute;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0%;
}
.drdbox .dropdown p {
  width: 100%;
  height: 100%;
  background-color: aqua;
  align-items: center;
  vertical-align: middle;
}
.drdbox .dropdown p:hover {
  background-color: beige;
}
.banner{
  width: 100%;
  height: 98vh;
  background-color: beige;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  display: grid;
  gap: 30px;
}
.rb{
  width: 100%;
  height: 100%;
  background-color: chocolate;
  grid-row: 1/3;
  grid-column: 1/2;
  border-radius: 15px;
  padding: 8%;
  position: relative;
  overflow: hidden;
}
.lb1,.lb2{
  width: 100%;
  height: 100%;
  background-color: cadetblue;
  grid-column: 2/3;
  border-radius: 15px;
}
.lb1{
  grid-row:1/2;
}
.lb2{
  grid-row: 2/3;
}
.rb .mam{
  position: absolute;
  width: 300px;
  right:15%;
  top: 6%;
  animation: pop 2s linear;
}
.rb .ma1,.rb .ma2{
  position: absolute;
  width: 200px;
  animation: spn 2s linear;
}
.rb .ma1{
  top: 6%;
  left: 4%;
}
.rb .ma2{
  top: 70%;
  right: 3%;
}
@keyframes spn{ 
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(0);
  }
}
@keyframes pop{
  0%{
    transform: scale(0.1);
    top: 100%;
  }
}
.rb .ma1{
  position: absolute; 
  background-color: transparent;
}
